<phpunit bootstrap="../bootstrap.php"
         colors="true">
    <filter>
        <whitelist>
            <directory>../src/LoteriaApi</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="testdox-text" target="php://stdout" />
    </logging>
</phpunit>