<phpunit colors="true"
         verbose="true"
         bootstrap="bootstrap.php">
    <filter>
        <whitelist>
            <directory>./src/LoteriaApi</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name = "Loteria-api">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="./var/_reports" charset="UTF-8" highlight="false" lowUpperBound="35" highLowerBound="70"/>
        <log type="testdox-text" target="./var/_reports/testdox.txt" />
    </logging>
</phpunit>